:root {
  --brand-primary: #77cee0;
  --primary-primary: #222;
  --primary-accent: #1d98b0;
  --text-primary: #222;
  --text-secondary: #60767a;
  --text-tertiary: #b6c5c7;
  --text-link: #206cc9;
  --text-button: #f9fafb;
  --ui-primary: #fff;
  --ui-secondary: #f5f5f5;
  --ui-tertiary: #dfdfdf;
  --ui-disable: #9ba0a1;
  --ui-border: rgb(0 0 0 / 8%);
  --ui-background: #f9fafb;
  --ui-background-opacity: rgb(249 250 251 / 80%);
  --ui-modal: rgb(0 0 0 / 48%);
  --ui-black: #111827;
  --accent-error: #e6322f;
  --accent-success: #00a791;
  --accent-info: #206cc9;
  --accent-error-fill: #ffcfce;
  --accent-success-fill: #cefff8;
  --accent-info-fill: #c9e2ff;
  --accent-info-fill-gray: #f2f2f2;
  --action-hover: rgb(0 0 0 / 4%);
  --action-pressed: rgb(0 0 0 / 8%);
  --action-selected: rgb(0 0 0 / 6%);
  --action-primary-hover: #193035;
  --action-primary-pressed: #192b2f;
  --action-error-hover: #c7312f;
  --action-error-pressed: #ba3633;
  --action-accent-hover: #20879c;
  --action-accent-pressed: #298092;
  --action-hover-primary: rgb(255 255 255 / 8%);
  --action-hover-pressed: rgb(255 255 255 / 4%);
  --blackwhite-black: #000;
  --blackwhite-white: #fff;
}
